Options +Indexes +FollowSymLinks
RewriteEngine on
RewriteRule !((CHANGELOG|COPYING|TERMS|favicon\.ico|rdf\.php(/.*)?|stylesheet\.php|skin_(im|ex)porter(_xml)?\.php|install\.php|skin_blueEye/blueEye\.css|cwb\.png|cwb/showsource\.php)$|doc|cwb) cwbmulti.php
php_flag magic_quotes_gpc off
